In [1]:
import pandas as pd
import numpy as np

name = 'Worksheet in ProMaxBook1.xlsm'
name = 'Worksheet in ProMaxBook1.xlsm'

df = pd.read_excel(name, sheet_name='Sheet2')

df = pd.read_excel('seasonal_impact_data.xlsx', sheet_name='Sim Format 1')
cols = list(df.columns[1:])
df

,Location,AVG Air T (F),Gas (MCFD),RVP (psia),GHV (Btu/scf),Tank T (F),SG,Dew T (F)
0,"San Antonio, TX",52.45,61.505376,6.376650,2062.695759,97.482195,1.273031,190.825567
1,"San Antonio, TX",56.50,63.346607,6.296428,2081.265985,99.676245,1.285201,191.116356
2,"San Antonio, TX",62.45,65.957143,6.183846,2108.427978,102.751171,1.302602,191.070501
3,"San Antonio, TX",69.50,69.038041,6.053946,2139.374855,106.229556,1.322369,190.943970
4,"San Antonio, TX",77.10,71.788027,5.943134,2166.927370,109.343826,1.339900,190.745298
...,...,...,...,...,...,...,...,...
187,"Williston, ND",68.85,73.226445,5.868551,2175.200469,107.722357,1.345184,190.731882
188,"Williston, ND",57.65,67.951111,6.085357,2123.724533,101.945626,1.312413,191.079010
189,"Williston, ND",43.25,61.138348,6.378144,2056.460679,94.057279,1.268507,190.231366
190,"Williston, ND",27.90,53.151484,6.723494,2001.234804,85.913294,1.224385,178.797688
191,"Williston, ND",15.50,48.515737,6.936976,1960.663461,80.246251,1.193242,170.731607

In [2]:
dfs = []
for col in cols:
    df_temp = df.groupby('Location')[col].apply(lambda df: df.reset_index(drop=True)).unstack().reset_index()
    df_temp.insert(1, 'Results', col)
    dfs.append(df_temp)
    
df_final = pd.concat(dfs, axis=0).sort_values(by=['Location', 'Results']).reset_index(drop=True)
df_final

,Location,Results,0,1,2,3,4,5,6,7,8,9,10,11
0,"Amarillo, TX",AVG Air T (F),37.500000,41.200000,48.000000,56.200000,65.850000,74.400000,78.150000,76.550000,69.350000,58.300000,46.100000,37.950000
1,"Amarillo, TX",Dew T (F),190.116859,190.773678,191.104838,190.850478,190.482570,190.053191,189.881134,190.053409,190.421635,190.869859,191.154145,190.125937
2,"Amarillo, TX",GHV (Btu/scf),2070.393206,2091.110178,2124.648126,2161.907706,2199.186246,2234.024559,2246.263329,2232.722778,2203.119319,2156.633919,2104.086999,2070.146903
3,"Amarillo, TX",Gas (MCFD),62.810291,65.049983,68.507767,72.308822,76.226605,80.042264,81.398447,79.803022,76.566485,71.655441,66.381817,62.760818
4,"Amarillo, TX",RVP (psia),6.290257,6.193725,6.048369,5.891738,5.736607,5.589964,5.539459,5.601728,5.725771,5.921346,6.140600,6.293443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,"Williston, ND",GHV (Btu/scf),1947.535248,1971.991820,2015.553318,2069.580435,2112.009037,2148.667380,2181.415316,2175.200469,2123.724533,2056.460679,2001.234804,1960.663461
108,"Williston, ND",Gas (MCFD),47.208533,49.758905,55.058509,62.534761,66.797077,70.444792,73.876328,73.226445,67.951111,61.138348,53.151484,48.515737
109,"Williston, ND",RVP (psia),6.997065,6.875550,6.633437,6.314485,6.133924,5.982409,5.842704,5.868551,6.085357,6.378144,6.723494,6.936976
110,"Williston, ND",SG,1.183273,1.201708,1.235397,1.277186,1.304932,1.328309,1.349129,1.345184,1.312413,1.268507,1.224385,1.193242
111,"Williston, ND",Tank T (F),78.363125,81.679422,87.797886,95.603089,100.629441,104.741837,108.417817,107.722357,101.945626,94.057279,85.913294,80.246251

In [3]:
# Custom sort order for the "Results" column
custom_sort_order = ['AVG Air T (F)', 'Gas (MCFD)', 'Tank T (F)', 'RVP (psia)', 'SG', 'Dew T (F)', 'GHV (Btu/scf)']
df_final['Results'] = pd.Categorical(df_final['Results'], categories=custom_sort_order, ordered=True)
df_final = df_final.sort_values(by=['Location', 'Results']).reset_index(drop=True)
df_final

,Location,Results,0,1,2,3,4,5,6,7,8,9,10,11
0,"Amarillo, TX",AVG Air T (F),37.500000,41.200000,48.000000,56.200000,65.850000,74.400000,78.150000,76.550000,69.350000,58.300000,46.100000,37.950000
1,"Amarillo, TX",Gas (MCFD),62.810291,65.049983,68.507767,72.308822,76.226605,80.042264,81.398447,79.803022,76.566485,71.655441,66.381817,62.760818
2,"Amarillo, TX",Tank T (F),92.025131,94.529274,98.440646,102.587348,106.723009,110.594369,111.952814,110.452847,107.163828,102.007738,96.143496,92.015449
3,"Amarillo, TX",RVP (psia),6.290257,6.193725,6.048369,5.891738,5.736607,5.589964,5.539459,5.601728,5.725771,5.921346,6.140600,6.293443
4,"Amarillo, TX",SG,1.277327,1.291182,1.313001,1.336718,1.360359,1.382389,1.390113,1.381553,1.362836,1.333347,1.299839,1.277177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,"Williston, ND",Tank T (F),78.363125,81.679422,87.797886,95.603089,100.629441,104.741837,108.417817,107.722357,101.945626,94.057279,85.913294,80.246251
108,"Williston, ND",RVP (psia),6.997065,6.875550,6.633437,6.314485,6.133924,5.982409,5.842704,5.868551,6.085357,6.378144,6.723494,6.936976
109,"Williston, ND",SG,1.183273,1.201708,1.235397,1.277186,1.304932,1.328309,1.349129,1.345184,1.312413,1.268507,1.224385,1.193242
110,"Williston, ND",Dew T (F),168.023472,172.732808,181.404234,190.535588,191.129039,190.931993,190.674849,190.731882,191.079010,190.231366,178.797688,170.731607
111,"Williston, ND",GHV (Btu/scf),1947.535248,1971.991820,2015.553318,2069.580435,2112.009037,2148.667380,2181.415316,2175.200469,2123.724533,2056.460679,2001.234804,1960.663461

In [4]:
test = [
    ["San Antonio", "TX"],
    ["Lufkin", "TX"],
    ["Shreveport", "LA"],
    ["El Paso", "TX"],
    ["Midland", "TX"],
    ["Dallas-Fort Worth", "TX"],
    ["Charleston", "WV"],
    ["Amarillo", "TX"],
    ["Denver", "CO"],
    ["Oklahoma City", "OK"],
    ["Pittsburgh", "PA"],
    ["Tulsa", "OK"],
    ["Columbus", "OH"],
    ["Casper", "WY"],
    ["Binghamton", "NY"],
    ["Williston", "ND"]
]

# Creating a DataFrame from the provided data
regions = {
    "Region": [
        "Eagleford (San Antonio)",
        "Haynesville (Texas)",
        "Haynesville (Louisiana)",
        "Delaware",
        "Midland",
        "Barnett Shale",
        "Marcellus/Utica (West Virginia)",
        "Granite Wash",
        "Denver-Julesburg",
        "Woodford Shale, Anadarko",
        "Marcellus/Utica (Pennsylvania)",
        "Woodford Shale, Arkoma",
        "Marcellus/Utica (Ohio)",
        "Powder River",
        "Marcellus/Utica (New York)",
        "Bakken Shale"
    ]
}

df_regions = pd.DataFrame(regions)
item1 = pd.DataFrame(test).apply(lambda x: ', '.join(x), axis=1).values
item2 = df_regions['Region'].values
dict_keys = dict(pd.DataFrame([item1, item2]).T.values)

In [5]:
dict_keys

{'San Antonio, TX': 'Eagleford (San Antonio)',
 'Lufkin, TX': 'Haynesville (Texas)',
 'Shreveport, LA': 'Haynesville (Louisiana)',
 'El Paso, TX': 'Delaware',
 'Midland, TX': 'Midland',
 'Dallas-Fort Worth, TX': 'Barnett Shale',
 'Charleston, WV': 'Marcellus/Utica (West Virginia)',
 'Amarillo, TX': 'Granite Wash',
 'Denver, CO': 'Denver-Julesburg',
 'Oklahoma City, OK': 'Woodford Shale, Anadarko',
 'Pittsburgh, PA': 'Marcellus/Utica (Pennsylvania)',
 'Tulsa, OK': 'Woodford Shale, Arkoma',
 'Columbus, OH': 'Marcellus/Utica (Ohio)',
 'Casper, WY': 'Powder River',
 'Binghamton, NY': 'Marcellus/Utica (New York)',
 'Williston, ND': 'Bakken Shale'}

In [6]:
df_final['Location'] = df_final['Location'].replace(dict_keys)
df_final

,Location,Results,0,1,2,3,4,5,6,7,8,9,10,11
0,Granite Wash,AVG Air T (F),37.500000,41.200000,48.000000,56.200000,65.850000,74.400000,78.150000,76.550000,69.350000,58.300000,46.100000,37.950000
1,Granite Wash,Gas (MCFD),62.810291,65.049983,68.507767,72.308822,76.226605,80.042264,81.398447,79.803022,76.566485,71.655441,66.381817,62.760818
2,Granite Wash,Tank T (F),92.025131,94.529274,98.440646,102.587348,106.723009,110.594369,111.952814,110.452847,107.163828,102.007738,96.143496,92.015449
3,Granite Wash,RVP (psia),6.290257,6.193725,6.048369,5.891738,5.736607,5.589964,5.539459,5.601728,5.725771,5.921346,6.140600,6.293443
4,Granite Wash,SG,1.277327,1.291182,1.313001,1.336718,1.360359,1.382389,1.390113,1.381553,1.362836,1.333347,1.299839,1.277177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Bakken Shale,Tank T (F),78.363125,81.679422,87.797886,95.603089,100.629441,104.741837,108.417817,107.722357,101.945626,94.057279,85.913294,80.246251
108,Bakken Shale,RVP (psia),6.997065,6.875550,6.633437,6.314485,6.133924,5.982409,5.842704,5.868551,6.085357,6.378144,6.723494,6.936976
109,Bakken Shale,SG,1.183273,1.201708,1.235397,1.277186,1.304932,1.328309,1.349129,1.345184,1.312413,1.268507,1.224385,1.193242
110,Bakken Shale,Dew T (F),168.023472,172.732808,181.404234,190.535588,191.129039,190.931993,190.674849,190.731882,191.079010,190.231366,178.797688,170.731607
111,Bakken Shale,GHV (Btu/scf),1947.535248,1971.991820,2015.553318,2069.580435,2112.009037,2148.667380,2181.415316,2175.200469,2123.724533,2056.460679,2001.234804,1960.663461

In [7]:
custom_order = [
    "Eagleford (San Antonio)", "Haynesville (Texas)", "Haynesville (Louisiana)", "Delaware",
    "Midland", "Barnett Shale", "Marcellus/Utica (West Virginia)", "Granite Wash",
    "Denver-Julesburg", "Woodford Shale (Anadarko)", "Marcellus/Utica (Pennsylvania)",
    "Woodford Shale (Arkoma)", "Marcellus/Utica (Ohio)", "Powder River",
    "Marcellus/Utica (New York)", "Bakken Shale"
]

In [8]:
#df_final['Location'] = pd.Categorical(df_final['Location'], categories=custom_order, ordered=True)
#df_final = df_final.sort_values('Location').reset_index(drop=True)|

In [9]:
df_final.to_excel('test.xlsx')

In [10]:
df_final

,Location,Results,0,1,2,3,4,5,6,7,8,9,10,11
0,Granite Wash,AVG Air T (F),37.500000,41.200000,48.000000,56.200000,65.850000,74.400000,78.150000,76.550000,69.350000,58.300000,46.100000,37.950000
1,Granite Wash,Gas (MCFD),62.810291,65.049983,68.507767,72.308822,76.226605,80.042264,81.398447,79.803022,76.566485,71.655441,66.381817,62.760818
2,Granite Wash,Tank T (F),92.025131,94.529274,98.440646,102.587348,106.723009,110.594369,111.952814,110.452847,107.163828,102.007738,96.143496,92.015449
3,Granite Wash,RVP (psia),6.290257,6.193725,6.048369,5.891738,5.736607,5.589964,5.539459,5.601728,5.725771,5.921346,6.140600,6.293443
4,Granite Wash,SG,1.277327,1.291182,1.313001,1.336718,1.360359,1.382389,1.390113,1.381553,1.362836,1.333347,1.299839,1.277177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Bakken Shale,Tank T (F),78.363125,81.679422,87.797886,95.603089,100.629441,104.741837,108.417817,107.722357,101.945626,94.057279,85.913294,80.246251
108,Bakken Shale,RVP (psia),6.997065,6.875550,6.633437,6.314485,6.133924,5.982409,5.842704,5.868551,6.085357,6.378144,6.723494,6.936976
109,Bakken Shale,SG,1.183273,1.201708,1.235397,1.277186,1.304932,1.328309,1.349129,1.345184,1.312413,1.268507,1.224385,1.193242
110,Bakken Shale,Dew T (F),168.023472,172.732808,181.404234,190.535588,191.129039,190.931993,190.674849,190.731882,191.079010,190.231366,178.797688,170.731607
111,Bakken Shale,GHV (Btu/scf),1947.535248,1971.991820,2015.553318,2069.580435,2112.009037,2148.667380,2181.415316,2175.200469,2123.724533,2056.460679,2001.234804,1960.663461

In [11]:
import pandas as pd
import numpy as np

name = 'Worksheet in ProMaxBook1.xlsm'
name = 'Worksheet in ProMaxBook1.xlsm'

df = pd.read_excel(name, sheet_name='Sheet2')

df = pd.read_excel('seasonal_impact_data.xlsx', sheet_name='Sim Format 1')
cols = list(df.columns[1:])
df.head()

,Location,AVG Air T (F),Gas (MCFD),RVP (psia),GHV (Btu/scf),Tank T (F),SG,Dew T (F)
0,"San Antonio, TX",52.45,61.505376,6.376650,2062.695759,97.482195,1.273031,190.825567
1,"San Antonio, TX",56.50,63.346607,6.296428,2081.265985,99.676245,1.285201,191.116356
2,"San Antonio, TX",62.45,65.957143,6.183846,2108.427978,102.751171,1.302602,191.070501
3,"San Antonio, TX",69.50,69.038041,6.053946,2139.374855,106.229556,1.322369,190.943970
4,"San Antonio, TX",77.10,71.788027,5.943134,2166.927370,109.343826,1.339900,190.745298

In [12]:
test = [
    ["San Antonio", "TX"],
    ["Lufkin", "TX"],
    ["Shreveport", "LA"],
    ["El Paso", "TX"],
    ["Midland", "TX"],
    ["Dallas-Fort Worth", "TX"],
    ["Charleston", "WV"],
    ["Amarillo", "TX"],
    ["Denver", "CO"],
    ["Oklahoma City", "OK"],
    ["Pittsburgh", "PA"],
    ["Tulsa", "OK"],
    ["Columbus", "OH"],
    ["Casper", "WY"],
    ["Binghamton", "NY"],
    ["Williston", "ND"]
]

# Creating a DataFrame from the provided data
regions = {
    "Region": [
        "Eagleford (San Antonio)",
        "Haynesville (Texas)",
        "Haynesville (Louisiana)",
        "Delaware",
        "Midland",
        "Barnett Shale",
        "Marcellus/Utica (West Virginia)",
        "Granite Wash",
        "Denver-Julesburg",
        "Woodford Shale, Anadarko",
        "Marcellus/Utica (Pennsylvania)",
        "Woodford Shale, Arkoma",
        "Marcellus/Utica (Ohio)",
        "Powder River",
        "Marcellus/Utica (New York)",
        "Bakken Shale"
    ]
}

df_regions = pd.DataFrame(regions)
item1 = pd.DataFrame(test).apply(lambda x: ', '.join(x), axis=1).values
item2 = df_regions['Region'].values
dict_keys = dict(pd.DataFrame([item1, item2]).T.values)

In [13]:
df.insert(1, 'Basin', df['Location'].map(dict_keys))

In [14]:
df

,Location,Basin,AVG Air T (F),Gas (MCFD),RVP (psia),GHV (Btu/scf),Tank T (F),SG,Dew T (F)
0,"San Antonio, TX",Eagleford (San Antonio),52.45,61.505376,6.376650,2062.695759,97.482195,1.273031,190.825567
1,"San Antonio, TX",Eagleford (San Antonio),56.50,63.346607,6.296428,2081.265985,99.676245,1.285201,191.116356
2,"San Antonio, TX",Eagleford (San Antonio),62.45,65.957143,6.183846,2108.427978,102.751171,1.302602,191.070501
3,"San Antonio, TX",Eagleford (San Antonio),69.50,69.038041,6.053946,2139.374855,106.229556,1.322369,190.943970
4,"San Antonio, TX",Eagleford (San Antonio),77.10,71.788027,5.943134,2166.927370,109.343826,1.339900,190.745298
...,...,...,...,...,...,...,...,...,...
187,"Williston, ND",Bakken Shale,68.85,73.226445,5.868551,2175.200469,107.722357,1.345184,190.731882
188,"Williston, ND",Bakken Shale,57.65,67.951111,6.085357,2123.724533,101.945626,1.312413,191.079010
189,"Williston, ND",Bakken Shale,43.25,61.138348,6.378144,2056.460679,94.057279,1.268507,190.231366
190,"Williston, ND",Bakken Shale,27.90,53.151484,6.723494,2001.234804,85.913294,1.224385,178.797688
191,"Williston, ND",Bakken Shale,15.50,48.515737,6.936976,1960.663461,80.246251,1.193242,170.731607

In [15]:
df.to_excel('test.xlsx')